.container {
  margin-bottom: $base-unit;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  padding: 0 $base-unit;
  position: relative;

  &.container--grid { @include clearfix(); }
}

.col-half {
  float: left;
  width: 50%;
}
