.form-group { margin-bottom: $base-unit / 2; }

.form-control {
  @include typography(body-copy);
  border: 1px solid $gray;
  display: block;
  max-width: 280px;
  padding: $base-unit / 4;
  width: 100%;
}

.btn {
  @include typography(body-copy);
  background-color: $light-green;
  cursor: pointer;
  display: inline-block;
  padding: 6px 12px;

  &--booking { margin: $base-unit 0; }
}

.error-message {
  color: red;
  display: none;

  &.is-active { display: block; }
}
