// Color
// Main Color(s)
$green         : #A0D810;
$light-green   : #96C53A;
$blue          : #4EACDA;
$light-blue    : #9FD7E8;
// Helper colors
$gray          : #E5E5E5;
$light-gray    : #F1F1F1;
$xlight-gray   : #E0E0E0;
$t-black       : rgba(0, 0, 0, 0.5);
$black         : #000000;
$white         : #FFFFFF;

// Font Families
$lato       : 'Lato', sans-serif;
$source     : 'Source Serif Pro', serif;

// Units
$base-unit  : 24px;

// Breakpoints
$medium     : 768px;
$large      : 930px;
